@import 'tailwindcss';

@theme {
  --color-bianca-50: #faf8ef;
  --color-bianca-100: #f5f2df;
  --color-bianca-150: #f5efdb;
  --color-bianca-200: #eae2be;
  --color-bianca-300: #dccc95;
  --color-bianca-400: #ceb269;
  --color-bianca-500: #c39c4c;
  --color-bianca-600: #b58741;
  --color-bianca-700: #976c37;
  --color-bianca-800: #7a5732;
  --color-bianca-900: #63482b;
  --color-bianca-950: #352415;
}

@plugin "@tailwindcss/typography";
